flows/csv_pipeline.json
[
    {
        "id": "csv_inject_demo",
        "type": "inject",
        "z": "main_flow",
        "name": "[DEMO] Trigger Cloud CSV Scan",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "x": 160,
        "y": 240,
        "wires": [["csv_http_get"]]
    },
    {
        "id": "csv_http_get",
        "type": "http request",
        "z": "main_flow",
        "name": "Fetch CSV from GitHub Cloud",
        "method": "GET",
        "url": "https://raw.githubusercontent.com/pratik-kadam-automation/IIoT-Edge-Data-Bridge/main/sample%20data%20file/shift_production.csv",
        "persist": false,
        "x": 420,
        "y": 240,
        "wires": [["csv_parser"]]
    },
    {
        "id": "csv_inject_onsite",
        "type": "inject",
        "z": "main_flow",
        "name": "[ON-SITE] Trigger Local CSV Scan",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "x": 160,
        "y": 300,
        "wires": [["csv_file_in"]]
    },
    {
        "id": "csv_file_in",
        "type": "file in",
        "z": "main_flow",
        "name": "Read Local shift_production.csv",
        "filename": "C:\\iiot_bridge_data\\shift_production.csv",
        "format": "utf8",
        "chunk": false,
        "x": 410,
        "y": 300,
        "wires": [["csv_parser"]]
    },
    {
        "id": "csv_parser",
        "type": "csv",
        "z": "main_flow",
        "name": "CSV to JSON Object Converter",
        "sep": ",",
        "hdrin": true,
        "skip": 0,
        "strings": true,
        "x": 660,
        "y": 270,
        "wires": [["debug_or_network_out"]]
    }
]