flows/sql_pipeline.json
[
    {
        "id": "sql_inject_demo",
        "type": "inject",
        "z": "main_flow",
        "name": "[DEMO] Trigger Cloud SQL Simulation",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "x": 170,
        "y": 380,
        "wires": [["sql_mock_data"]]
    },
    {
        "id": "sql_mock_data",
        "type": "function",
        "z": "main_flow",
        "name": "Simulate SQL Row Data (No XAMPP Required)",
        "func": "msg.payload = [\n    { \"Order_ID\": \"ORD-2026-005\", \"Machine_ID\": \"STRAW_SPM_01\", \"Produced_Qty\": 1200, \"SyncedStatus\": 0 },\n    { \"Order_ID\": \"ORD-2026-006\", \"Machine_ID\": \"STRAW_SPM_02\", \"Produced_Qty\": 3400, \"SyncedStatus\": 0 }\n];\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 380,
        "wires": [["split_node"]]
    },
    {
        "id": "sql_inject_onsite",
        "type": "inject",
        "z": "main_flow",
        "name": "[ON-SITE] Trigger Local Database Query",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "x": 170,
        "y": 460,
        "wires": [["sql_query_setup"]]
    },
    {
        "id": "sql_query_setup",
        "type": "function",
        "z": "main_flow",
        "name": "Query Filter Setup",
        "func": "var queryText = \"SELECT Order_ID, Machine_ID, Produced_Qty FROM production_table WHERE SyncedStatus = 0;\";\nmsg.topic = queryText;\nmsg.payload = queryText;\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 460,
        "wires": [["mysql_node"]]
    },
    {
        "id": "mysql_node",
        "type": "mysql",
        "z": "main_flow",
        "mydb": "local_xampp_db",
        "name": "smart_factory_db",
        "x": 610,
        "y": 460,
        "wires": [["split_node"]]
    },
    {
        "id": "split_node",
        "type": "split",
        "z": "main_flow",
        "name": "Split Array rows",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "x": 800,
        "y": 420,
        "wires": [["debug_or_network_out"]]
    }
]