flows/text_pipeline.json
[
    {
        "id": "txt_inject_demo",
        "type": "inject",
        "z": "main_flow",
        "name": "[DEMO] Trigger Cloud TXT Scan",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "x": 160,
        "y": 100,
        "wires": [["txt_http_get"]]
    },
    {
        "id": "txt_http_get",
        "type": "http request",
        "z": "main_flow",
        "name": "Fetch TXT from GitHub Cloud",
        "method": "GET",
        "url": "https://raw.githubusercontent.com/pratik-kadam-automation/IIoT-Edge-Data-Bridge/main/sample%20data%20file/machine_logs.txt",
        "persist": false,
        "x": 420,
        "y": 100,
        "wires": [["txt_parser"]]
    },
    {
        "id": "txt_inject_onsite",
        "type": "inject",
        "z": "main_flow",
        "name": "[ON-SITE] Trigger Local TXT Scan",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "x": 160,
        "y": 160,
        "wires": [["txt_file_in"]]
    },
    {
        "id": "txt_file_in",
        "type": "file in",
        "z": "main_flow",
        "name": "Read Local machine_logs.txt",
        "filename": "C:\\iiot_bridge_data\\machine_logs.txt",
        "format": "utf8",
        "chunk": false,
        "x": 410,
        "y": 160,
        "wires": [["txt_parser"]]
    },
    {
        "id": "txt_parser",
        "type": "function",
        "z": "main_flow",
        "name": "Regex Log Parser",
        "func": "var lines = msg.payload.split('\\n');\nvar parsedRecords = [];\nfor(var i=0; i<lines.length; i++) {\n    if(lines[i].trim() !== '') {\n        var parts = lines[i].split(' | ');\n        var record = {\n            timestamp: parts[0],\n            target: parts[1].split('=')[1],\n            qty: parts[2].split('=')[1],\n            operator: parts[3].split('=')[1],\n            status: parts[4].split('=')[1].replace('\\r', '')\n        };\n        parsedRecords.push(record);\n    }\n}\nmsg.payload = parsedRecords;\nreturn msg;",
        "outputs": 1,
        "x": 660,
        "y": 130,
        "wires": [["debug_or_network_out"]]
    }
]